extends layout

block main_content
    p(class="alert alert-success") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus neque culpa ullam dolor! A fugit quidem molestiae inventore, doloremque cupiditate eaque eveniet assumenda eos voluptatem, sunt vero impedit nihil quibusdam!
