<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", rel="stylesheet")
    body
        block nav_top_header
            nav(class="navbar navbar-dark bg-dark text-light")
                h3(class="navbar-brand") #{title}
                .nav
                    .nav-item.mx-2 Item one
                    .nav-item.mx-2 Item two
                    .nav-item.mx-2 Item three


        block container
            .container-fluid.pt-1
                .row
                    .col-12.col-sm-12.col-md-12.col-lg-3.my-1.my-sm-1.my-md-1.my-lg-0
                        .card
                            .card-header.bg-primary.text-light Sidebar
                            ul(class="list-group list-group-flush")
                                li(class="list-group-item") 
                                    a(class="text-primary",href="/") Home Page
                                li(class="list-group-item") 
                                    a(class="text-primary",href="/driver") Driver Page
                                li(class="list-group-item") 
                                    a(class="text-primary",href="/passenger") Passenger Page
                                li(class="list-group-item") 
                                    a(class="text-primary",href="/bus") Bus Page
                    .col-12.col-sm-12.col-md-12.col-lg-9.my-1.my-sm-1.my-md-1.my-lg-0
                        .card
                            .card-header.bg-primary.text-light #{main_content_title}
                            .card-body
                                block main_content
                    

    block bottom_scripts

